@import '../../constants';

$cell-size: 40px;

#menu {
  text-align: center;
  font-size: 160%;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  width: $cell-size *  7;

  .menu-item {
    height: $cell-size;
    margin: ($cell-size / 2) auto;
    line-height: $cell-size;
    border-radius: $cell-size / 2;
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $red;
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }
}

@include media('screen', '>phone', '<=tablet') {
  $cell-size: 50px;

  #menu {
    font-size: 200%;
    width: $cell-size * 7;

    .menu-item {
      height: $cell-size;
      margin: ($cell-size / 2) auto;
      line-height: $cell-size;
      border-radius: $cell-size / 2;
    }
  }
}

@include media('screen', '>tablet') {
  $cell-size: 100px;
  
  #menu {
    font-size: 400%;
    width: $cell-size * 7;

    .menu-item {
      height: $cell-size;
      margin: ($cell-size / 2) auto;
      line-height: $cell-size;
      border-radius: $cell-size / 2;
    }
  }
}
