$cell-size: 40px;

#menu {
  text-align: center;
  font-size: 150%;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  width: $cell-size *  7;

  .menu-item {
    height: $cell-size;
    margin: ($cell-size / 2) auto;
    line-height: $cell-size;
    border-radius: $cell-size / 2;
    background-color: #16CBC4;
    color: #f7f7f7;

    &:hover {
      background-color: #fd4f57;
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }
}

@media only screen and (min-width: 370px) and (max-width: 715px) {
  $cell-size: 50px;

  #menu {
    font-size: 200%;
    width: $cell-size * 7;

    .menu-item {
      height: $cell-size;
      margin: ($cell-size / 2) auto;
      line-height: $cell-size;
      border-radius: $cell-size / 2;
    }
  }
}

@media only screen and (min-width: 716px) {
  $cell-size: 100px;
  
  #menu {
    font-size: 300%;
    width: $cell-size * 7;

    .menu-item {
      height: $cell-size;
      margin: ($cell-size / 2) auto;
      line-height: $cell-size;
      border-radius: $cell-size / 2;
    }
  }
}
