@import '../../constants';

$cell-size: 40px;

.form {
  width: $cell-size * 7;
  height: $cell-size;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

.coin {
  opacity: 0.25;
  background-color: $red;
  margin: auto;
  width: $cell-size * 0.9;
  height: 90%;
  border-radius: 100%;

  &.player1 {
    background-color: $red;
  }
  
  &.player2 {
    background-color: $blue;
  }
  
  &.active {
    visibility: visible;
  }
  
  &.inactive {
    visibility: collapse;
  }

  &:hover {
    opacity: 1;
  }
}

.message {
  font-size: 160%;
  font-family: 'Poppins', sans-serif;
  line-height: $cell-size;
  margin: auto;
  background-color: transparent;

  &.player1 {
    color: $red;
  }
  
  &.player2 {
    color: $blue;
  }
  
  &.player3 {
    color: $white;
  }
}

#reset {
  width: $cell-size * 3;
  height: $cell-size;
  margin: ($cell-size / 4) auto;
  text-align: center;
  font-size: 160%;
  font-family: 'Poppins', sans-serif;
  line-height: $cell-size;
  border-radius: $cell-size / 2;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: $red;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

@include media('screen', '>phone', '<=tablet') {
  $cell-size: 50px;

  .form {
    width: $cell-size * 7;
    height: $cell-size;
  }

  .coin {
    width: $cell-size * 0.9;
  }

  .message {
    font-size: 200%;
    line-height: $cell-size;
  }

  #reset {
    width: $cell-size * 3;
    height: $cell-size;
    margin: ($cell-size / 4) auto;
    margin-bottom: 0;
    font-size: 200%;
    line-height: $cell-size;
    border-radius: $cell-size / 2;
  }
}

@include media('screen', '>tablet') {
  $cell-size: 100px;
  
  .form {
    width: $cell-size * 7;
    height: $cell-size;
  }
  
  .coin {
    width: $cell-size * 0.9;
  }

  .message {
    font-size: 400%;
    line-height: $cell-size;
  }

  #reset {
    width: $cell-size * 3;
    height: $cell-size;
    margin: ($cell-size / 4) auto;
    font-size: 400%;
    line-height: $cell-size;
    border-radius: $cell-size / 2;
  }
}
