<div class="form">
  <ng-template *ngIf="player == nextPlayer && !winner && !waiting; then buttons"></ng-template>
  <ng-template #buttons>
    <ng-template *ngIf="gameType == 'democratic'; then democratic else normal"></ng-template>
    <ng-template #democratic>
      <ng-container *ngFor="let column of columns">
        <div class="coin player{{player}} {{isActive(column)}}" (click)="handleClick(column)">{{votes[column]}}</div>
      </ng-container>
    </ng-template>
    <ng-template #normal>
      <ng-container *ngFor="let column of columns">
        <div class="coin player{{player}} {{isActive(column)}} {{hasVoted()}}" (click)="handleClick(column)"></div>
      </ng-container>
    </ng-template>
  </ng-template>
  <div class="message player{{nextPlayer}}" *ngIf="waiting && !winner">{{message}}</div>
  <div class="message player{{winner}}" *ngIf="winner">{{message}}</div>
</div>
<div class="board-container">
  <board [board]="board" [animate]="animate" [animateRow]="row" [animateCol]="col"></board>
</div>
<div *ngIf="winner" id="reset" (click)="newGame()">
  New Game
</div>
