@import '../../constants';

$cell-size: 40px;

.form {
  width: $cell-size * 7;
  height: $cell-size;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

.coin {
  opacity: 0.25;
  background-color: $red;
  margin: auto;
  width: $cell-size * 0.9;
  height: 90%;
  border-radius: 100%;
}

.player1 {
  background-color: $red;
}

.player2 {
  background-color: $blue;
}

.coin:hover {
  opacity: 1;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: collapse;
}

@include media('screen', '>phone', '<=tablet') {
  $cell-size: 50px;

  .form {
    width: $cell-size * 7;
    height: $cell-size;
  }

  .coin {
    width: $cell-size * 0.9;
  }
}

@include media('screen', '>tablet') {
  $cell-size: 100px;
  
  .form {
    width: $cell-size * 7;
    height: $cell-size;
  }
  
  .coin {
    width: $cell-size * 0.9;
  }
}
