#title {
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#connect {
  color: #fd4f57;
}

#four {
  color: #16CBC4;
}

.form {
  width: 280px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.coin {
  opacity: 0;
  background-color: #fd4f57;
  margin: auto;
  width: 36px;
  height: 90%;
  border-radius: 100%;
}

.player1 {
  background-color: #fd4f57;
}

.player2 {
  background-color: #16CBC4;
}

.coin:hover {
  opacity: 1;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: collapse;
}

h1 {
  font-size: 100%;
  color: #f7f7f7;
}

@media only screen and (min-width : 370px) and (max-width : 715px) {
  #title {
    font-size: 250%;
  }

  .form {
    width: 350px;
    height: 50px;
  }

  .coin {
    width: 45px;
  }
}

@media only screen and (min-width : 716px) {
  #title {
    font-size: 500%;
  }

  .form {
    width: 700px;
    height: 100px;
  }

  .coin {
    width: 90px;
  }

  h1 {
    font-size: 200%;
  }
}
