<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="form">
  <move-button [callback]="handleClick.bind(this)" [column]=0></move-button>
  <move-button [callback]="handleClick.bind(this)" [column]=1></move-button>
  <move-button [callback]="handleClick.bind(this)" [column]=2></move-button>
  <move-button [callback]="handleClick.bind(this)" [column]=3></move-button>
  <move-button [callback]="handleClick.bind(this)" [column]=4></move-button>
  <move-button [callback]="handleClick.bind(this)" [column]=5></move-button>
  <move-button [callback]="handleClick.bind(this)" [column]=6></move-button>
</div>
<div class="board-container">
  <board></board>
</div>
