.form {
  width: 280px;
  height: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.coin {
  opacity: 0;
  margin: auto;
  width: 36px;
  height: 90%;
  border-radius: 100%;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: blue;
}

.coin:hover {
  opacity: 1;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: collapse;
}

h1 {
  font-size: 100%;
}

@media only screen and (min-width : 370px) and (max-width : 715px) {
  .form {
    width: 350px;
    height: 50px;
  }

  .coin {
    width: 45px;
  }
}

@media only screen and (min-width : 716px) {
  .form {
    width: 700px;
    height: 100px;
  }

  .coin {
    width: 90px;
  }

  h1 {
    font-size: 200%;
  }
}
