.board {
  width: 280px;
  height: 240px;
  margin: 0 auto;
}

.board td {
  width: 40px;
  height: 40px;
}

.board-hole {
  margin: auto;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: #353535;
}

@media only screen and (min-width : 370px) and (max-width : 715px) {
  .board {
    width: 350px;
    height: 300px;
  }

  .board td {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width : 716px) {
  .board {
    width: 700px;
    height: 600px;
  }

  .board td {
    width: 100px;
    height: 100px;
  }
}
