.board {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background-color: #aaaaaa;
}

.board td {
  width: 100px;
  height: 100px;
}

.board-hole {
  margin: auto;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  border: 1px solid black;
  background-color: #666666;
}
